
BuildandBreak/Assets/HoudiniEngineAssetCache/

BuildandBreak/Assets/Plugins/HoudiniEngineUnity/


BuildandBreak/Assets/Samples/XR Interaction Toolkit/

BuildandBreak/Assets/Scenes/SampleScene/

BuildandBreak/Assets/Settings/Project Configuration/

BuildandBreak/Assets/TextMesh Pro/

BuildandBreak/Assets/VRTemplateAssets/

BuildandBreak/Assets/XRI/Settings/Resources/

BuildandBreak/.vsconfig
